#{extends 'main.html' /} #{set title:'New Subscription' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li><a href="@{Application.subscriptions()}">Subscriptions</a> <span class="divider">/</span></li>
  <li class="active">New</li>
</ul>

<div class="row">
	<div class="span2">&nbsp;</div>
	<div class="span8 well">
	  	<legend>Create a new Subscription</legend>
	    <form accept-charset="UTF-8" action="@{Application.doCreateSubscription()}" method="post">
	        <label>Resource ID</label>
	      	<select name="resource" class="span8">
			#{list streams, as : 'stream'}
			#{if ((params.resource != null) && params.resource.equals(stream.id)) ||  ((flash.resource != null) && (flash.resource.equals(stream.id)))}
				<option selected="selected">${stream.id}</option>
			#{/if}
			#{else}
				<option>${stream.id}</option>
			#{/else}
        	#{/list}
			</select>
	        *{<input class="span8" name="resource" placeholder="Resource ID" type="text" value="${params?.resource}${flash?.resource}"/>}*
	        <label>Susbcriber URL</label>
	        <input class="span8" name="subscriber" placeholder="Subscriber URL" value="${params?.subscriber}${flash?.subscriber}" type="text"> 
	        <div class="row">
	        	<div class="span8">
	        		<button class="btn btn-primary" type="submit">Create</button>&nbsp;<a href="@{Application.subscriptions()}" class="btn" type="submit">Cancel</a>
	    		</div>
	    	</div>
	    </form>
	</div>
	<div class="span2">&nbsp;</div>
</div>
