#{extends 'main.html' /} #{set title:'Deploy Pattern' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li><a href="@{Application.patterns()}">Patterns</a> <span class="divider">/</span></li>
  <li class="active">New</li>
</ul>

<div class="row">
	<div class="span2">&nbsp;</div>
	<div class="span8 well">
	  	<legend>Deploy a new Pattern</legend>
	    <form accept-charset="UTF-8" action="@{Application.doDeployPattern()}" method="post">
	        <label>Pattern</label>
	        <textarea name="pattern" class="span8" rows="10"></textarea>
	        <div class="row">
	        	<div class="span8">
	        		<button class="btn btn-success" type="submit">Deploy</button>&nbsp;<a href="@{Application.index()}" class="btn btn-warning" type="submit">Cancel</a>
	    		</div>
	    	</div>
	    </form>
	</div>
	<div class="span2">&nbsp;</div>
</div>
