#{extends 'main.html' /} #{set title:'Groups' /}

<ul class="breadcrumb">
  <li><a href="@{Application.index()}">Home</a> <span class="divider">/</span></li>
  <li class="active">Groups</li>
</ul>

#{list groups, as : 'group'}
<div class="well">
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-polaroid" src="@{'/public/images/play.png'}" width="100px" height="100px">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><a href="@{Application.group(group.name)}">${group.name}</a>&nbsp;<small>${group.resourceURI}</small></h4>
    <blockquote>
   	 	<p>${group.description}</p>
    </blockquote>
    
    #{if (client.user.v1.ResourceHelper.in(group.getGroupURI(), playuser.groups))}
    <a href="@{Application.leaveGroup(group.getGroupURI())}" class="btn btn-danger">Leave...</a>
    #{/if}
    #{else} 
    <a href="@{Application.joinGroup(group.getGroupURI())}" class="btn btn-primary">&nbsp;Join&nbsp;</a>
  	#{/else}
  </div>
</div>
</div>
#{/list}