#{extends 'main.html' /} #{set title:'Home' /}

<ul class="breadcrumb">
  <li class="active">News Feed</li>
</ul>

<!-- TODO : Templates... -->
<!-- TODO : A real activity service with links to real stuff... -->
#{if resources}
	#{list resources, as : 'r'}
	%{ since = new Date(Long.parseLong(r.date)).since()}%
	%{ date = Long.parseLong(r.date).asdate('dd MMMM yyyy hh:mm:ss')}%
	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" width="50" height="50" src="${playuser.avatarURL}">
	  </a>
	  <div class="media-body">
		<blockquote>
			#{if r.name == 'group'}
	  		<p>You joined group <a href="#">${r.uri}</a></p>
	  		<small><a href="@{Application.groups}">More...</a> ${since}, ${date}</small>
	  		#{/if}
	  		#{if r.name == 'pattern'}
	  		<p>You deployed a new pattern <a href="#">${r.uri}</a></p>
	  		<small><a href="@{Application.patterns}">More...</a> ${since}, ${date}</small>
	  		#{/if}
	  		#{if r.name == 'subscription'}
	  		<p>You subscribed to a resource <a href="#">${r.uri}</a></p>
	  		<small><a href="@{Application.subscriptions}">More...</a> ${since}, ${date}</small>
	  		#{/if}
	  		#{if r.name == 'system'}
	  		<p>${r.uri}</p>
	  		<small>${since}, ${date}</small>
	  		#{/if}
		</blockquote>
	  </div>
	</div>
	#{/list}
#{/if}
#{else}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> No activity found.
</div>
#{/else}

