<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
		<link rel="stylesheet" href="@{'/public/assets/css/bootstrap.css'}">
		<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		
		.sidebar-nav {
			padding: 9px 0;
		}
		</style>
		<link href="@{'/public/assets/css/bootstrap-responsive.css'}"
			rel="stylesheet">
		
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/application.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="@{Application.index()}">PLAY.me</a>
				<div class="nav-collapse" id="main-menu">
					#{if playuser}
					<ul class="nav" id="main-menu-left">
						<li><a href="@{Application.groups()}">Groups</a></li>
						
						<li class="dropdown" id="preview-menu">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="@{Application.streams}">Streams</a></li>
								<li><a href="@{Application.subscriptions}">Subscriptions</a></li>
								<li><a href="@{Application.patterns}">Patterns</a></li>
							</ul>
						</li>
						
						<li class="dropdown" id="preview-menu">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="@{Application.createSubscription}">Subscribe</a></li>
								<li><a href="@{Application.index}">Publish Message</a></li>
								<li><a href="@{Application.index}">Deploy Pattern</a></li>
							</ul>
						</li>							
					</ul>

					#{/if}
					<ul class="nav pull-right" id="main-menu-right">
						<li class="dropdown" id="preview-menu">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							#{if playuser}<img src="${playuser.avatarURL}" width="20px" height="20px" />#{/if} Me <b class="caret"></b></a>
							#{if playuser}
							<ul class="dropdown-menu">
								<li><a href="@{Application.user}">Profile</a></li>
								<li><a href="@{Authentifier.logout}">Logout</a></li>
							</ul>
							#{/if}
							#{else}
							<ul class="dropdown-menu">
								<li><a href="@{Application.signin}">Login</a></li>
							</ul>
							#{/else}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
  
		#{if flash.success}
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>${flash.success}</strong>
		</div>
		#{/if}
		#{if flash.error}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>${flash.error}</strong>
		</div>
		#{/if}
		
		#{ifErrors}
	    <div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
        	<p><strong>Some values are invalid, please fix them...</strong></p>
        	<ul>
         		#{errors}
       			<li>${error}</li>
   				#{/errors}
   			</ul>
      	</div>
		#{/ifErrors}

     	#{doLayout /}
  </div>
  
  	<script src="@{'/public/assets/js/jquery.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-transition.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-alert.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-modal.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-dropdown.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-scrollspy.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-tab.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-tooltip.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-popover.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-button.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-collapse.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-carousel.js'}"></script>
	<script src="@{'/public/assets/js/bootstrap-typeahead.js'}"></script>
	
    #{get 'lastScripts' /}
    
  </body>
</html>
